body {
    background-color: #e5fdff;
}

.dropdown-menu {
    padding-left: 5%;
    padding-right: 5%;
}

.top-line-btn {
    background: #4682B4;
    margin-top: 6px;

}

.pls{
    margin-top: 20%;
    margin-left: 26%;
}
.top-line-container {
    height: 50px;
    background: #afc9dc;
}

.page-container {
    padding-top: 10px;
    padding-bottom: 5%
}

.main-page-image {
    width: 75%;
    height: 75%;
    align: left;
    max-width:100%;
}

.center {
    text-align: center;
}

.text-div {
    text-align: justify;
}

.to-main-btn {
    width: 100%;
}

.round-border {
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    margin-bottom: 5%
}

.border-paddings {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-top:1px;
}

.photo {
    max-width:100%;
    margin-top: 46px;
    margin-bottom: 10px;
}

.info {
    text-align: left;
}

.article-text {
    max-height: 400px;
    overflow : auto;
    padding: 5px;
}

.bordered {
    border: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.small-user-photo {
    width: 70px;
    height: 82px;
    margin: 10px;
    margin-top: 0px;
}

.small-user-photo2 {
    width: 70px;
    height: 75px;
    margin: 10px;
    margin-top: 0px;
}

.news-photo {
    width: 400px;
    height: 270px;
}

.small-user-photo3 {
    max-width: 100%;
    margin: 10px;
    margin-top: 0px;
}

.comments-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-text {
    padding: 5px;
    margin-right: 10px;
    height: 100px;
}

.comment-text1 {
    padding: 5px;
    margin-right: 10px;
}

.right-text {
    text-align: right;
    margin-right: 10px;
}

.grey-background {
    background: #DCDCDC;
}

.articles-text {
    padding: 5px;
    height:100px;
    margin-right: 10px;
    max-height: 100px;
    overflow: auto;
}

.valid {
    color: red;
}